@model CarDealership.Models.Vehicle
@{
    ViewBag.Title = "AddVehicle";
}

<h2>AddVehicle</h2>

<form method="post" action="/AddVehicle/CreateCar">
    <p><label>Make: </label> <input type="text" name="Make" /></p>
    <p><label>Model: </label> <input type="text" name="Model" /></p>
    <p><label>Year: </label> <input type="text" name="Year" /></p>
    <p><label>Mileage: </label> <input type="text" name="Mileage" /></p>
    <p><label>AdTitle: </label> <input type="text" name="AdTitle" /></p>
    <p><label>Description: </label> <input type="text" name="Description" /></p>
    <p><label>Price: </label> <input type="text" name="Price" /></p>
    <p><label>PictureURL: </label> <input type="text" name="PictureURL" /></p>
    <p>
        <label>Available: </label>
        <select name="available">
            <option></option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </p>
    <p><input type="button" value="Submit" id="available" /></p>
</form>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(
            function () {
                jQuery('#available').click(
                    function () {
                        $('select>option:eq(1)').prop('selected', true);
                        $('select>option:eq(2)').prop('selected', false);
                    });
            });

    </script>
    }
