

@model HRPortal.Models.Application

<div class="alert alert-success" role="alert">
    <h3>Success!</h3>
    <p>You successfully created your Application.
    Your Application ID is: @Html.DisplayFor(x => x.AppID)</p>
    </div>
