
@{
    ViewBag.Title = "Index";
}

<h1>HR Portal</h1>
<h3>Job Applications</h3>
<hr />
<p>
<a class ="btn btn-primary" role="button" href="/Home/Create">Create Application</a>
</p>
<p>
<a class="btn btn-primary" role="button" href="/Home/Display">Display all Applications</a>
    </p>

