
@{
    ViewBag.Title = "DeletePolicy";
}

    <div class="alert alert-success" role="alert">
        <h3>Success!</h3>
        <p>
            You successfully deleted your Policy.
            <a href="/Home/">Back to home</a>
        </p>
    </div>

