
@{
    ViewBag.Title = "Index";
}

<h2>Baseball League Portal</h2>

<div>
    <p><a class="btn btn-default" href="/Home/NewTeam" role="button">Create New Teams</a></p>
    <p><a class="btn btn-default" href="/Home/NewPlayer" role="button">Create New Players</a></p>
    <p><a class="btn btn-default" href="/Home/ViewTeam" role="button">View Teams/Rosters</a></p>
    <p><a class="btn btn-default" href="/Trade/Index" role="button">League Trades</a></p>
    <p><a class="btn btn-default" href="/DeletePlayer/" role="button">Delete Players</a></p>
</div>

