<button class="btn btn-success create" onclick="AddVehicle()">Add Vehicle <span class="glyphicon glyphicon-plus" aria-hidden="true" /></button>
<ul id="menu">
    <li onclick="Cars()">Cars</li>
    <li onclick="Information()">Information</li>
</ul>
